@model AmigoSecreto.Models.Usuario

@{
    ViewBag.Title = "Logar";
}

<br/>

<div class="container">

    @if(TempData["retornoLogin"] != null) { 
    <div class="alert alert-danger">
        @TempData["retornoLogin"]
    </div>
    }

    <div class="panel panel-primary">
        <div class="panel-heading">LOGAR</div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    <label for="Nome">Usuário</label>
                    <!-- <div class="col-md-10"> -->
                    @Html.EditorFor(model => model.Nome, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Nome, "", new {@class = "text-danger"})
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Senha)
                    <!-- <div class="col-md-10"> -->
                    @Html.EditorFor(model => model.Senha, new {htmlAttributes = new {@class = "form-control", @type = "password"}})
                    @Html.ValidationMessageFor(model => model.Senha, "", new {@class = "text-danger"})
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        <button id="validar" type="button" onclick="window.location.href = window.location.origin + '/' + 'usuario/novo/'" class="btn btn-info btn-sm" title="Salvar" data-placement="right">
                            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            Cadastrar
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button id="validar" type="submit" class="btn btn-success btn-sm" title="Salvar" data-placement="right">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                            Logar
                        </button>
                    </div>

                </div>

            }
        </div>
    </div>
</div>